<!doctype html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>Mercado Visual</title>

	<link rel="stylesheet" href="~/styleInicio/responsivo.css">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	<link rel="stylesheet" href="~/styleInicio/estilo.css">
</head>
<body>

	<header>
		<div class="container-header">

			<button class="menu-abrir">
				Abre Menu
			</button>
            <table>
                <tr><p class="username">Breno Kevin</p></tr>
                <tr><p class="usernivel">Nivel 1 - Mercado Pontos</p></tr>
                <tr><h1 class="money">R$ 0,00</h1></tr>
            </table>
			<button class="minimizarHeader">
				<img src="~/imgs/icons/minimizar.png" alt="">
			</button>
			<button class="lembrarHeader">
				<i class="far fa-bell"></i>
			</button>
			<nav class="barra-nav">
				<button class="menu-fechar"></button>
			</nav>			
		</div>
	</header>

	<main class="containerdestaque">

		<div class="secao">

			<div class="border one">
				<img class="qrcode" src="~/imgs/inicioIcons/qrcode.png" alt="">
				<p class="qrcodeText">Código QR</p>
			</div>
			

			<div class="border two">
				<i class="fas fa-credit-card"></i>
				<p class="cardText">Adicionar Cartão</p>
			
			</div>


			<div class="border tree">
				<img class="cash" src="~/imgs/inicioIcons/cash.png" alt="">
				<p class="cashText">CashBack</p>
			</div>


			<div class="border four">
				<i class="fas fa-money-bill-wave"></i>
				<p class="saqueText">Sacar Dinheiro</p>
			</div>

		</div>

		
	</main>
	<a href="" >
		<div class="containerprincipal">
			<div class="txtcashback">
				<div class="h1back"><h1 class="cashbaack">CashBack</h1></div>
				
				<div class="pcash"><p class="subtxtcashback">Receba em sua carteira parte do valor de sua compra!</p></div>
				
			</div>
			
		</div>
	</a>
	<a asp-action="boleto">
		<div id ="contmeio"class="containerprincipal">

			<div class="txtboleto">
				<div class="h1boleto">
					<h1 class="cashboleto">Pague seus Boletos Sem Precisar Sair de Casa</h1>
				</div>
				
			</div>

		</div>
	</a>
	<a href="">
	<div class="containerprincipal">
		<div class="txtcomparti">
			<div class="h1comparti"><h1 class="cashcomparti">Convide Seus Amigos e Ganhe Mais</h1></div>
		</div>
	</div>
	</a>
	<div class="containerinferior">

		<a href="">
		<div class="iconinferiorstyle"></div>
		</a>
		<a href="">
			<div class="iconinferiorstyle"></div>
		</a>
		<a href="">
			<div class="iconinferiorstyle"></div>
		</a>		
		<a href="">
			<div class="iconinferiorstyle"></div>
		</a>
		<a href="">
			<div class="iconinferiorstyle"></div>
		</a>
		<a href="">
			<div class="iconinferiorstyle"></div>
		</a>

	</div>
	<script src="jsInicio/menu.js"></script>
</body>
</html>