<!doctype html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>Mercado Visual</title>

	<link rel="stylesheet" href="~/stylescanearBoleto/estilo.css">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	<link rel="stylesheet" href="~/stylescanearBoleto/responsivo.css">
</head>
<body>

	<header>
        <a href="boleto.html">
        <img src="~/imgs/iconBoleto/leave.png" alt="">
        </a>
        <h1 class="headertxt">Pagar Boletos e Tributos</h1>
    </header>
    <h1 class="apontcamera"> Aponte a Câmera na Direção do Boleto</h1> 

    <a asp-action="pagarBoleto">
    <div id="camera"></div>
    </a>
</body>
</html>