/* reset */
*,
*:after,
*:before {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 1em;
}

body {
	font-family: Arial, helvetica, sans-serif;
	line-height: 1.4;
}
.h1boleto {
    position: absolute;
    top: -5px;
    left: 6px;
}
.cashboleto {
    color: #680aee;
    width: 173px;
    text-align: inherit;
    font-size: 18px;
}
.vlrdata2 {
    position: absolute;
    left: 209px;
    top: 521px;
    width: 134px;
}
.cashcomparti {
    color: #fff;
    width: 183px;
    text-align: inherit;
    font-size: 18px;
}
.h1comparti {
    position: absolute;
    top: -5px;
    left: 6px;
}
.txtcomparti {
    width: 100px;
    height: 74px;
    border-left: 5px solid #2BDCCA;
    border-radius: 2px;
    margin-left: 18px;
    position: relative;
    top: 16px;
}
header {
    background: #680AEE;
    width: 100%;
    height: 101px;
    border-radius: 0px 0px 31px 31px;
}
.txtboleto {
    width: 100px;
    height: 66px;
	border-left: 5px solid #680aee;
    border-radius: 2px;
    margin-left: 18px;
    position: relative;
    top: 16px;
}
.usernivel {
    position: absolute;
    left: 72px;
    top: 26px;
    font-size: 10px;
    color: #fff;
}
.username {
    position: absolute;
    left: 71px;
    top: 10px;
    font-size: 12px;
    color: #fff;
}
.money {
    position: absolute;
    left: 71px;
    top: 42px;
    font-size: 22px;
    color: #fff;
}
.logo img {
	display: block;
}

.styleNavBar {
    font-size: 28px;
    color: #000;
}
/* busca */
.busca {
	overflow: hidden; /* clearfix */
}
	.busca input {
		border: 1px solid #CCC;
		border-bottom-color: #aaa;
		border-right-width: 0;
		border-radius: 5px 0 0 5px;
		box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
		color: #555;
		
		height: 1.7em;
		padding: 0 0.16em;

		float: left;
		-webkit-appearance: none;
	}
	.busca button {
		background: #f0f0f0;
		background: linear-gradient(white, white 50%, #eee);

		border: 1px solid #CCC;
		border-bottom-color: #aaa;
		border-radius: 0 5px 5px 0;
		color: #777;
		font-size: 90%;

		line-height: 1.667em;
		height: 1.888888889em;
		padding: 0 0.5em;
		text-align: center;
		text-transform: lowercase;

		float: left;
	}
		.busca button:hover {
			color: #0669de;
		}

/* categorias */

.menu-principal {
	font-weight: bold;
	list-style-type: none;
	}
	.menu-principal a {
		display: block;
		padding-right: 1em;
		margin-right: 1em;

		line-height: 1;
		text-decoration: none;
		text-transform: lowercase;
	}
		.menu-principal a:hover {
			opacity: 0.8;
		}


/* lista de notícias */
.chamada {
	border-bottom: 1px dotted #ccc;
	display: block;
	margin-bottom: 1em;
	padding-bottom: 1em;

	text-decoration: none;
	width: 100%;
	overflow: hidden;
}
	.chamada:last-child {
		border-bottom: 0;
	}

	.chamada img {
		border-radius: 5px;
		display: block;
		float: left;
		margin-right: 0.8em;
	}
		.chamada.mini img {
			margin-bottom: 0.4em;
		}
	.chamada:hover h2 {
		text-decoration: underline;
	}

	.chamada.principal h2 {
		font-size: 1.8em;
		line-height: 1.05;
	}
	.chamada.normal h2 {
		font-size: 1em;
	}
	.chamada.secundaria h2 {
		font-size: 0.6em;
	}
	.chamada.mini {
		padding-right: 0.35em;
	}
		:not(.mini) .chamada.mini + .mini {
			padding-left: 0.35em;
			padding-right: 0;
		}


/* direita da TV */
.chamada.tv {
	border: 1px solid #ccc;
	border-radius: 5px;
}
	.tv img {
		border-radius: 3px 3px 0 0;
		margin-top: -1px;
	}
	.tv p {
		clear: both;
		color: #999;
		padding: 1.4em 1em 0.25em;
	}
	.tv h2 {
		padding: 0 1em;
		margin: 0;
		border: 0;
	}
	.tv .bolinha {
		display: inline-block;
		border-radius: 50%;
		background: #aaa;
		height: 7px;
		width: 7px;
		margin-top: 1.4em;
	}
		.tv .bolinha:first-of-type {
			background: #555;
			margin-left: 1.5em;
		}